.schedule {
  display: block;
  width: 712px;
  height: 500px;
  margin: 100px auto 0;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 0px;
}
.schedule * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.schedule .day {
  display: inline-block;
  position: relative;
  width: 90px;
  height: 480px;
  margin: 0 5px;
  border-radius: 10px;
  background: #cc0066;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  font: 50px helvetica, tahoma, sans-serif;
  color: rgba(255, 255, 255, 0.3);
}
.schedule .day:first-child {
  margin-left: 0;
}
.schedule .day:last-child {
  margin-right: 0;
}
.schedule .day span {
  display: block;
  margin: 10px, auto;
  text-align: center;
}
.schedule .day .work {
  position: absolute;
  display: block;
  width: 90px;
  background: #660033;
  height: 180px;
  border-radius: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}
.schedule .day .work .lunch {
  position: absolute;
  display: block;
  width: 90px;
  background: #ff66b3;
  height: 20px;
  border-radius: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}
.schedule .day:hover {
  background: #ff0080;
}
.schedule .day:hover .work {
  background: #660055;
}
.schedule .day:hover .work .lunch {
  backgroung: #ffffff;
}
.schedule .day:nth-child(1) .work,
.schedule .day:nth-child(4) .work {
  bottom: 200px;
}
.schedule .day:nth-child(1) .work .lunch,
.schedule .day:nth-child(4) .work .lunch {
  bottom: 60px;
}
.schedule .day:nth-child(2) .work,
.schedule .day:nth-child(3) .work {
  bottom: 160px;
}
.schedule .day:nth-child(2) .work .lunch,
.schedule .day:nth-child(3) .work .lunch {
  bottom: 80px;
}
.schedule .day:nth-child(5) .work {
  bottom: 300px;
  height: 140px;
}
.schedule .day:nth-child(5) .work .lunch {
  display: none;
}
.schedule .day:nth-child(7) .work,
.schedule .day:nth-child(6) .work {
  bottom: 180px;
  height: 120px;
}
.schedule .day:nth-child(7) .work .lunch,
.schedule .day:nth-child(6) .work .lunch {
  display: none;
}
