@av-size: 40px;
@feed-width: 512px;
@feed-min-width: 320px;

@feed-padding: 10px;
@brdTop: #e5e6e9;
@brdLR: #dfe0e4;
@brdBtm: #d0d1d5;
@bodyBckgrnd: #e9ebee;
@san-marino: #4267b2;
@st-topaz: #365899;
@east-bay: #29487d;
@brdClr: rgba(0, 0, 0, .1);
@header-height: 46px;

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: tahoma, helvetica, arial, sans-serif;
    padding: @header-height + @feed-padding 0 0;
    margin: 0;
    font-size: 12px;
    line-height: 1.38em;
    background: @bodyBckgrnd;
    min-width: @feed-min-width;
}

#popup-box.box { //POPUP
    display: none;
    position: fixed;
    padding: @feed-padding;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,.7);
   
    .popup {
        display: block;
        position: relative;
        margin: 60px auto 0;
        max-width: @feed-width;
        min-width: @feed-min-width;
        padding: 42px .5 * @feed-padding .5 * @feed-padding;
        background: white;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0px 0px 3px rgba(0,0,3,.4);
        font-size: 0;


        .popup-header {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            background: @san-marino;
            padding: @feed-padding;  
            color: white;
            font-size: 12px;
            font-weight: bold;
            // text-align: center;
            vertical-align: middle;
            border-bottom: 1px solid @east-bay;

            .button {
                position: absolute;
                right: @feed-padding;
                padding: 2px 3px;
            }
        }

        .tag-link {
            position: relative;
            display: inline-block;
            background: @san-marino;
            color: white;
            font-size: 12px;
            font-weight: bold;
            text-decoration: none;
            padding: .5em;
            padding-left: 2em;
            margin: .5 * @feed-padding;
            // overflow: hidden;
            border-radius: 3px;
            border-bottom: 1px solid @east-bay;

            .tag-count {
                font-weight: normal;
                position: absolute;
                font-size: 10px;
                text-align: center;
                top: -1em;
                right: -1em;
                background: red;
                padding: 0 .5em;
                border-radius: 2em;
                margin: .25em;
                border: 1px solid darkred;
            }

            &:hover {
                background: @st-topaz;
            }

            &::before {
                content: "#";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                display: inline-block;
                background: @east-bay;
                width: 1.5em;
                text-align: center;
                padding: .5em 0;
                border-radius: 3px 0 0 3px;

            }
        }
    }
}

.header { //HEADER
    display: block;
    box-sizing: border-box;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid @east-bay;
    background: @san-marino;
    padding: @feed-padding;
}

.button {
    position: relative;
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: .5em;
    border-radius: 3px;
    background: @san-marino;
    color: white;
    font-weight: bold;
    line-height: 1em;

    &:hover {
        background: @st-topaz;
    }

    &:active {
        background: @st-topaz;
    }

    &:disabled {
        color: darken(white, 10%);
        background: greyscale(@san-marino);
    }
}

.feed-list {
    list-style: none;
    display: block;
    max-width: @feed-width;
    min-width: @feed-min-width;
    box-sizing: border-box;
    margin: @header-height + @feed-padding auto 0;
    padding: @feed-padding;

    .post {
        display: block;
        border: 1px solid @brdLR;
        border-top-color: @brdTop;
        background: white;
        border-bottom-color: @brdBtm;
        border-radius: 5px;
        padding: @feed-padding;
        margin-bottom: @feed-padding;

        .post-header {
            display: block;
            position: relative;
            padding-left: @av-size + @feed-padding;
            margin-top: 0;
            margin-bottom: @feed-padding;
            min-height: @av-size;

            .av {
                position: absolute;
                left: 0;
                display: block;
                box-sizing: border-box;
                width: @av-size;
                height: @av-size;
            }

            .av-inner-border-hack {
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    border: 1px solid @brdClr;
                }
            }

            .story {
                font-weight: bold;
                font-size: 14px;
                line-height: 1.5em;
                margin: 0;
            }

            .date {
                font-style: italic;
                color: gray;
            }
        }

        .message {
            margin: @feed-padding auto 0;
            &:last-child {
                font-size: 2.2em;
                line-height: 1.12em;
            }
        }

        .post-teaser {
            position: relative;
            display: block;
            box-sizing: border-box;
            outline: none;
            padding: 0;
            margin-top: @feed-padding;
            transition: box-shadow 0.5s ease;
            box-shadow: 0px 0px 2px rgba(0,0,3,.1);

            a {
                position: absolute;
                z-index: 3;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }

            .post-img {
                display: block;
                border-bottom: 1px solid @brdClr;
                margin-bottom: 0;            
                box-sizing: border-box;
                width: 100%;


                &:last-child {
                     // margin: -1 * @feed-padding;
                     border: none;
                }
            }

            .teaser-description {
                padding: 0 @feed-padding @feed-padding;

                .post-name,
                .post-description,
                .post-caption {  
                    text-decoration: none;
                    padding-top: @feed-padding;
                    display: block;
                    font: 1em/1.38em inherit;
                    color: black;
                }
                .post-name {
                    font: 22px/1.1em georgia, serif;
                    white-space: nowrap;
                    overflow-x: hidden;
                    text-overflow: ellipsis;
                }
                .post-caption {
                    color: gray;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-transform: uppercase;
                }
                &::after {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    border: 1px solid @brdClr;
                }
            }
        }

        &:hover .post-teaser {
            box-shadow: 0px 0px 3px rgba(0,0,3,.2);
        }
    }
}