* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: tahoma, helvetica, arial, sans-serif;
  font-size: 12px;
  line-height: 1.38em;
  background: #e9ebee;
}
.feed-list {
  list-style: none;
  display: block;
  width: 512px;
  min-width: 200px;
  box-sizing: border-box;
  margin: 100px auto 0;
  padding: 10px;
}
.feed-list .post {
  display: block;
  border: 1px solid #dfe0e4;
  border-top-color: #e5e6e9;
  background: white;
  border-bottom-color: #d0d1d5;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.feed-list .post .post-header {
  display: block;
  position: relative;
  padding-left: 60px;
  margin-top: 0;
  margin-bottom: 10px;
  min-height: 50px;
}
.feed-list .post .post-header .av {
  position: absolute;
  left: 0;
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
}
.feed-list .post .post-header .story {
  font-weight: bold;
  font-size: 14px;
  line-height: 2em;
  margin: 0;
}
.feed-list .post .post-header .date {
  font-style: italic;
  color: gray;
}
.feed-list .post .message {
  margin: 10px auto 0;
}
.feed-list .post .post-teaser {
  position: relative;
  display: block;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0px 0px 2px rgba(0, 0, 3, 0.1);
  transition: box-shadow 0.5s ease;
}
.feed-list .post .post-teaser .post-img {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: -10px;
  margin-bottom: 0;
  box-sizing: border-box;
  width: 468px;
}
.feed-list .post .post-teaser .post-img:last-child {
  margin: -10px;
  border: none;
}
.feed-list .post .post-teaser .post-name,
.feed-list .post .post-teaser .post-description,
.feed-list .post .post-teaser .post-caption {
  text-decoration: none;
  padding-top: 10px;
  display: block;
  font: 1em/1.38em inherit;
  color: black;
}
.feed-list .post .post-teaser a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.feed-list .post .post-teaser .post-name {
  font: 22px/1em georgia, serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 50px;
}
.feed-list .post .post-teaser .post-caption {
  color: gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
.feed-list .post .post-teaser::after {
  content: "";
  display: block;
  clear: both;
}
.feed-list .post:hover .post-teaser {
  box-shadow: 0px 0px 3px rgba(0, 0, 3, 0.2);
}
