@av-size: 40px;
@feed-width: 512px;
@feed-padding: 10px;
@brdTop: #e5e6e9;
@brdLR: #dfe0e4;
@brdBtm: #d0d1d5;
@bodyBckgrnd: #e9ebee;
@san-marino: #4267b2;
@st-topaz: #365899;
@east-bay: #29487d;
@brdClr: rgba(0, 0, 0, .1);
@header-height: 75px;

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: tahoma, helvetica, arial, sans-serif;
    padding: @header-height + @feed-padding @feed-padding 0;
    margin: 0;
    font-size: 12px;
    line-height: 1.38em;
    background: @bodyBckgrnd;
    min-width: @feed-width + 2 * @feed-padding;
}

.header {
    display: block;
    box-sizing: border-box;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid @east-bay;
    background: @san-marino;
    padding: @feed-padding;

}

.button {
    position: relative;
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: .5em;
    border-radius: 3px;
    background: @san-marino;
    color: white;
    font-weight: bold;
    line-height: 1em;

    &:hover {
        background: @st-topaz;
    }

    &:active {
        background: @st-topaz;
    }

    &:disabled {
        color: darken(white, 10%);
        background: greyscale(@san-marino);
    }
}

.feed-list {
    list-style: none;
    display: block;
    width: @feed-width;
    min-width: 200px;
    box-sizing: border-box;
    margin: 100px auto 0;
    padding: @feed-padding;

    .post {
        display: block;
        border: 1px solid @brdLR;
        border-top-color: @brdTop;
        background: white;
        border-bottom-color: @brdBtm;
        border-radius: 5px;
        padding: @feed-padding;
        margin-bottom: @feed-padding;

        .post-header {
            display: block;
            position: relative;
            padding-left: @av-size + @feed-padding;
            margin-top: 0;
            margin-bottom: @feed-padding;
            min-height: @av-size;

            .av {
                position: absolute;
                left: 0;
                display: block;
                box-sizing: border-box;
                width: @av-size;
                height: @av-size;
                // box-shadow: 0 0 0 1px @brdClr;
            }

            .av-inner-border-hack {
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    border: 1px solid @brdClr;
                }
            }

            .story {
                font-weight: bold;
                font-size: 14px;
                line-height: 1.5em;
                margin: 0;
            }

            .date {
                font-style: italic;
                color: gray;
            }

        }

        .message {
            margin: @feed-padding auto 0;
            &:last-child {
                font-size: 2.2em;
                line-height: 1.12em;
            }
        }

        .post-teaser {
            position: relative;
            display: block;
            box-sizing: border-box;
            border: 1px solid @brdClr;
            outline: none;
            padding: @feed-padding;
            margin-top: @feed-padding;
            box-shadow: 0px 0px 2px rgba(0,0,3,.1);
            transition: box-shadow 0.5s ease;

            .post-img {
                display: block;
                border-bottom: 1px solid @brdClr;
                margin: -1 * @feed-padding;
                margin-bottom: 0;            
                box-sizing: border-box;
                width: @feed-width - 4 * @feed-padding - 4;

                &:last-child {
                     margin: -1 * @feed-padding;
                     border: none;
                }
            }

            .post-name,
            .post-description,
            .post-caption {  
                text-decoration: none;
                padding-top: @feed-padding;
                display: block;
                font: 1em/1.38em inherit;
                color: black;
            }

            a {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }

            .post-name {
                font: 22px/1.1em georgia, serif;
                white-space: nowrap;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }

            .post-description {
            
            }

            .post-caption {
                color: gray;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-transform: uppercase;
            }


            &::after {
                content: "";
                display: block;
                clear: both;
            }
        }

        &:hover .post-teaser {
            box-shadow: 0px 0px 3px rgba(0,0,3,.2);
        }

    }
}