* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: tahoma, helvetica, arial, sans-serif;
  padding: 85px 10px 0;
  margin: 0;
  font-size: 12px;
  line-height: 1.38em;
  background: #e9ebee;
  min-width: 532px;
}
#popup-box.box {
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
}
#popup-box.box .popup {
  display: block;
  position: relative;
  margin: 60px auto 0;
  width: 256px;
  padding: 42px 10px 10px;
  background: white;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0px 0px 3px rgba(0, 0, 3, 0.2);
}
#popup-box.box .popup .popup-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: #4267b2;
  padding: 10px;
  color: white;
  font-weight: bold;
  vertical-align: middle;
  border-bottom: 1px solid #29487d;
}
#popup-box.box .popup .popup-header .button {
  position: absolute;
  right: 10px;
  padding: 2px 3px;
}
#popup-box.box .popup .tag-table {
  border-collapse: collapse;
  margin: auto;
  width: auto;
}
#popup-box.box .popup .tag-table tr {
  display: block;
  clear: both;
  margin: 0;
}
#popup-box.box .popup .tag-table th,
#popup-box.box .popup .tag-table td {
  padding: 5px;
  heigth: 2em;
  vertical-align: middle;
}
#popup-box.box .popup .tag-table th {
  color: gray;
  text-align: center;
  font-weight: normal;
}
#popup-box.box .popup .tag-table .top-pos-cell {
  float: left;
  width: 2em;
  text-align: center;
}
#popup-box.box .popup .tag-table .tag-cell {
  display: inline-block;
  font-weight: bold;
}
#popup-box.box .popup .tag-table .tag-count-cell {
  float: right;
  width: 2em;
  text-align: center;
}
.header {
  display: block;
  box-sizing: border-box;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #29487d;
  background: #4267b2;
  padding: 10px;
}
.button {
  position: relative;
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: .5em;
  border-radius: 3px;
  background: #4267b2;
  color: white;
  font-weight: bold;
  line-height: 1em;
}
.button:hover {
  background: #365899;
}
.button:active {
  background: #365899;
}
.button:disabled {
  color: #e6e6e6;
  background: #7a7a7a;
}
.feed-list {
  list-style: none;
  display: block;
  width: 512px;
  min-width: 200px;
  box-sizing: border-box;
  margin: 100px auto 0;
  padding: 10px;
}
.feed-list .post {
  display: block;
  border: 1px solid #dfe0e4;
  border-top-color: #e5e6e9;
  background: white;
  border-bottom-color: #d0d1d5;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.feed-list .post .post-header {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-top: 0;
  margin-bottom: 10px;
  min-height: 40px;
}
.feed-list .post .post-header .av {
  position: absolute;
  left: 0;
  display: block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}
.feed-list .post .post-header .av-inner-border-hack::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.feed-list .post .post-header .story {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5em;
  margin: 0;
}
.feed-list .post .post-header .date {
  font-style: italic;
  color: gray;
}
.feed-list .post .message {
  margin: 10px auto 0;
}
.feed-list .post .message:last-child {
  font-size: 2.2em;
  line-height: 1.12em;
}
.feed-list .post .post-teaser {
  position: relative;
  display: block;
  box-sizing: border-box;
  outline: none;
  padding: 10px;
  margin-top: 10px;
  transition: box-shadow 0.5s ease;
  box-shadow: 0px 0px 2px rgba(0, 0, 3, 0.1);
}
.feed-list .post .post-teaser .post-img {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: -10px;
  margin-bottom: 0;
  box-sizing: border-box;
  width: 470px;
}
.feed-list .post .post-teaser .post-img:last-child {
  margin: -10px;
  border: none;
}
.feed-list .post .post-teaser .post-name,
.feed-list .post .post-teaser .post-description,
.feed-list .post .post-teaser .post-caption {
  text-decoration: none;
  padding-top: 10px;
  display: block;
  font: 1em/1.38em inherit;
  color: black;
}
.feed-list .post .post-teaser a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.feed-list .post .post-teaser .post-name {
  font: 22px/1.1em georgia, serif;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.feed-list .post .post-teaser .post-caption {
  color: gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
.feed-list .post .post-teaser::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.feed-list .post:hover .post-teaser {
  box-shadow: 0px 0px 3px rgba(0, 0, 3, 0.2);
}
